<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Munim App - Server Check</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Arial", sans-serif;
        background: #f8f9fa;
        margin: 0;
        padding: 0;
        height: 100vh;
      }
      .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        padding: 20px;
      }
      .content {
        background: #fff;
        border-radius: 15px;
        padding: 30px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 600px;
      }
      .title {
        color: #007bff;
        font-size: 36px;
        font-weight: bold;
      }
      .tagline {
        color: #6c757d;
        font-size: 18px;
        margin-top: 10px;
      }
      .app-image {
        margin-top: 30px;
        width: 150px;
        border-radius: 10px;
        transition: transform 0.2s ease-in-out;
      }
      .app-image:hover {
        transform: scale(1.1);
      }
      .developer-info {
        margin-top: 30px;
      }
      .developer-logo {
        max-height: 30px;
        margin-top: 10px;
      }
      .munim-logo {
        width: 200px;
        margin-top: 20px;
        transition: transform 0.2s ease-in-out;
      }
      .munim-logo:hover {
        transform: scale(1.1);
      }
      footer {
        background-color: #343a40;
        color: white;
        padding: 15px 0;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      .developer-info h3 {
        color: #28a745;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="main-container">
        <div class="content">
          <p class="tagline">Server Listening....</p>
          <img
            src="https://play-lh.googleusercontent.com/uuzhLk9vS0HhUWqwtycV8cOWJKIVjgaui9I4SGhTTwXMKkD1tygQc4bOWLpDSlkSpoo=w240-h480-rw"
            alt="Munim Logo"
            class="munim-logo"
          />
          <h1 class="title mt-4">Munim The Accountant</h1>
          <div>
            <a class="me-2 bg-success text-white text-decoration-none rounded-pill px-3 py-2" target="_blank" href="//www.plantuml.com/plantuml/png/xLPDRzGm4Btlhp3BWHRKYdBi0JNqGwf4swNR2yUfFPiTrR63FGbT8VZjE8chQfrOQ47Y0djPPTwycVZDHtpY6HmtbPwzu3LMADOW7z3DPbA3z-9K4neMtsOY_5w9Cs0G5uHQUR4dRLK7RjKv7Ett7Y-5x0cNP-9OBDcHAQFTG8MfhRBtf4TMh81qQdHsxDZdDvjhg7BGtQREGOLI3htFe8krDJdc-TJxHUoZbS1aJGQ-nP8ykzubIDbbwFwYK-dvkgdkqQNiGCq0pgv8uu8aDmx7AAxGELGBs7H5ka9UMvLwWUQhM8SHC7bK0BK6D_r2v0l9r7QnFbYh4KmF71o8cyNvRN5tUNEz34-ncsvg7BH8ckdTq4m_XElrGhUt7mAsbbHlVoEqBScaHeyQ9I_HjIGn1Ijum2X32ZMrjg3Eh6mwrAUm12DHZyD6hWB6nL26P_3xq_X4Md1eIQ7ROOxgIFa_IV_c9FcXSmg7CAAr8HQ4HCIR57F0uI5OBxG5pavb1F2nHaTe96RIB-sAly9O46jEjMtKTi28VMb0qugconT1L9yHt7RHo7WcRdWidrBKnGBzQJhqNzmnL9gYT8XJYoIER9nvl-EUoQyICCRoSEH2LMHss2BG-UTNI7ul_8wSST4QA77XI8OmwHd1Tm8ETueKioqwZrZKzKWPZ-wg2vke7gJ1HubrhyoJhZk8eo8bqMVg4fCmfhQXP-36_xc2iK-cssFP9zcI8DxGvaVpaEEzcByzF7mzVvRZECRpi_HRz6l6q6s9Nynt72kTyKgJFRkVe55DfNy2">
                APP OPERATION
            </a>
            <a class="bg-primary text-white text-decoration-none rounded-pill px-3 py-2" target="_blank" href="//www.plantuml.com/plantuml/dpng/ZP91Ry8m38Nl-HK-JN2OkEymKO4qSM2gLaqxJYQrYaL8cEE2-FThe5rHHxNTKkTzhy-nvr5HjDuxWrQ3mC8nUMq_2f8ZMyeb7BaaQQjPkMTlp5K9Zy-m3Xjsb1qEy0HlL75Kaf7hWXnPxOpX0N8yxvCkT-XxfYk_eD89pmsunXrrrVzvTwb7rRw4PR1rSemmMNB5YiwTOGQBK0kJJCqFaEWiNtqcSv86Vp-uW3S6ey_nLLFiGnMAMaVJMoMWCoaq25PqmLIOZdJFVp2L56RbbGIjmkJwxzd75ZKs2QPc81xhexct52Fr7VqTCfteFfas946NmnBZTXDGoZJ6uFbci-2Lz1HarnB3S5cCN7beMzVmUxPpycLQtcy0">
                APP WORKFLOW
            </a>
          </div>
          <h2 class="tagline mt-4">
            Try online billing and Accounting software for small businesses
          </h2>
          <img
            src="https://plus.unsplash.com/premium_vector-1727250825139-60892911f431?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2VydmVyfGVufDB8fDB8fHww"
            alt="Munim App Image"
            class="app-image"
          />
          <div class="developer-info">
            <h3>Developed By: <span>Algox360 IT Solutions LLP</span></h3>
            <img
              src="https://algox360.com/img/logo.webp"
              class="developer-logo"
              alt="Algox360 Logo"
            />
          </div>
        </div>
      </div>
    </div>
    <footer><p>&copy; 2024 Algox360 IT Solutions LLP</p></footer>
  </body>
</html>
